body{
    font-family: sans-serif;
    background-color: rgb(211, 211, 211);
}

.container{
    background-image: url(images/bg.jpg);
    background-repeat: repeat-y;
    width: 886px;
    height: auto;
    margin: 0 auto;
}

/* -------------------------- Head -------------------------- */
.preheader
{
    background-image: url(../images/preheader.jpg);
    width: 886px;
    height:71px ;
}
.header
{
    background-image: url(../images/header.jpg);
    width: 886px;
    height: 78px;
    font-weight: bold;
}
.header h3
{
    padding-left: 80px;
    padding-top: 5px;
    color: white;
    margin-top: 0px;
}
.menu
{
    background-image: url(../images/menu.jpg);
    width: 886px;
    height: 32px;
}
.menu a
{
    padding-left: 80px;
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
    text-decoration: none;
    color: #ffffff;
}

/* ------------------------------ Content left ------------------------------ */
.content
{
    width: 760px;
    margin: 0 auto;
    height: auto;
    display: flex;
}
.left
{
    width: 485px;
    padding: 20px;
    border-right: dotted 2px;
    border-color: #e0e0e0;    
}
.left a
{
    text-decoration: none;
    color: #42554e;
    font-weight: bold;
}

.title
{
    font-size: 18px;
    color: #42554e;
    font-weight: bold;
    padding-bottom: 15px;
}
.title a:hover{
    text-decoration: underline;
}
.info
{
    float:right;
    color: #42554e;
    font-size: 10px;
    margin-top: 5px;
}
.image img
{
    width: 400px;
    height: auto;
    padding-bottom: 20px;
}
.description{
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
}

.comment{
    height: 10px;
    width: 10px;
    display: inline-block;
    background-image: url(../images/comment.gif);
    background-repeat: no-repeat;
}
.timeicon{
    height: 10px;
    width: 10px;
    display: inline-block;
    background-image: url(../images/timeicon.gif);
    background-repeat: no-repeat;
}

/* ----------------------------------- Content right -------------------------------- */
.right
{
    width: 230px;
    height: auto;
    padding: 10px;
}
.news
{
    width: 100%;
    height: auto;
    font-size: 13px;
}
.title-new
{
    color: #42554e;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px
}
.searchBox
{
    border: dashed 1px;
}
.searchBtn
{
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #999999;
}
.searchBtn:hover{color: black}
.last-articles
{
    padding-bottom: 20px;
}
.last-articles a
{
    color: #42554e;
}
.paging a{
    padding-right: 5px;
}
.active{
    text-decoration: underline !important;
    color: gray !important;
}

/* ------------------------ Footer ------------------------------ */
.footer
{
    background-image: url(../images/footer.jpg);
    width: 887px;
    height: 78px;
}

